**.js.map
**.ts.map
**/tsconfig.tsbuildinfo
.DS_Store
.yarnrc
.idea
/chrome
/data
/tmp
lerna-debug.log
build.log
package-oss.json
yarn-error.log
yarn.lock

# But do not ignore these files
!packages/lens/dist/*.bundle.*.(js|ts)
